{% extends "delivery_header.html" %}
{% load static %}
{% block  content%}
<section class="teacher-profile">

   <section class="form-container" >
      <form action="{% url 'delivery_login' %}" method="post" enctype="multipart/form-data">
      
         {% if booking %}
   
           {% if booking.status != 'finish' %}
            <h3>Ride details</h3>
            <p>Move From : {{booking.movefrom}}</p>
            <p>Move To : {{booking.moveto}}</p>
            
            <a href="{% url "accept" %}" class="btn">accept</a>
            <a href="{% url "reject" %}" class="option-btn">reject</a>
            {% else %}
               <h1 style="text-align: center;">NO RIDE  AVAILABLE!</h1>
            {% endif %}
         {% else %}
         <h1 style="text-align: center;">NO RIDE  AVAILABLE!</h1>
         {% endif %}
      </form>
      {% comment %} <form action="{% url 'delivery_login' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <h3>Ride Details</h3>
         {% if booking %}
         <h2 style="color: #94CA21; padding-top: 1.5rem; padding-left: 1.5rem;">Move From : <span style="color:#aaaaaa;">{{booking.movefrom}}</span></h2>
         <h2 style="color: #91CA21; padding-top: 1.5rem; padding-left: 1.5rem;">Move To : <span style="color:#aaaaaa;">{{booking.moveto}}</span></h2> 
         <div class="flex-btn" style="padding-top: 1.5rem;">
            <a href="" class="btn">Accept Ride</a>
            <a href="" class="option-btn">Reject Ride</a>
         </div>
         {% endif %}
      </form> {% endcomment %}
   
   </section>

</section>
{% endblock  %}
